:root {
  --raisin-black: #1b1e25ff;
  --soft-raisin-black: rgb(59, 65, 80);
  --engineering-orange: #b80c09ff;
  --amber: #ffbd00ff;
  /* --amber: #ffd319; */
  --mint-cream: #f7fff7ff;
  --air-superiority-blue: #6ca6c1ff;
  /* Colores matrix */
  --verdeOscuro: #003b00;
  --verde: #008f11;
  --verdeClaro: #00ff41;
  /* --verdeClaro: #ff2975; */

  /* Colores synth escogidos */
  --primario: #ffd319;
  --secundario: #ff901f;
  --terciario: #f222ff;
  --cuaternario: #ff2975;
  --quintinario: #8c1eff;
  --extra1: #5268c1;
  --extra2: #7592e5;

  /* Colores Synth oscuros */
  --osPurpura: #451c4f;
  --osRosa: #d44e79;
  --osNaranja: #dc8833;
  --osAzul: #5268c1;
  --osCeleste: #7592e5;
  /* Mas synth claros */
  --claAmarillo: #ffd319;
  --claNaranja: #ff901f;
  --claRosaB2: #f222ff;
  --claRosaBarbie: #ff2975;
  --claPurpura2: #8c1eff;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--mint-cream);
  background-color: var(--raisin-black);
  background: linear-gradient(
    160deg,
    var(--cuaternario) 18%,
    var(--secundario) 50%,
    var(--quintinario) 100%
  );
  /* font-family: "Atomic Age"; */
  /* font-family: "Lalezar", sans-serif; */
  /* font-family: "Monoton", sans-serif; */
  /* font-family: "Press Start 2P"; */
  /* font-family: "Audiowide", sans-serif; */
  /* font-family: "Boogaloo", sans-serif; */
  font-family: "Michroma", sans-serif;
}

h1 {
  font-size: 2rem;
}

.nave {
  width: 100%;
}

.nave ul {
  display: flex;
  justify-content: space-between;
}

.nave a {
  color: var(--primario);
}

.nave div {
  height: 3rem;
  width: 19vw;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--raisin-black);
}

.nave div:hover {
  color: var(--raisin-black);
  background-color: var(--primario);
}

.caja-prin {
  margin: 1rem;
}

.hero {
  /* width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../Logos/DD3.PNG");
  background-image: url("../Logos/Logotipo_Daniel/Logotipo_daniel-recortado.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.hero {
  width: 10rem;
  height: 10rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  margin: auto;
  border: solid red 2px;
  background-image: url("../Logos/Logotipo_Daniel/Logo\ retocando.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient( to bottom right, var(--air-superiority-blue), var(--raisin-black), var(--engineering-orange)); */
  /* border: rgb(37, 27, 168) solid 2px; */
}

.desc {
  margin: 1rem 0rem;
  /* border: solid var(--primario) 2px; */
}

.descripcion {
  margin: auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-justify: auto;
  width: 70%;
  line-height: 4rem;
  /* border-radius: 2rem; */
  color: var(--mint-cream);

  background: linear-gradient(
        var(--soft-raisin-black),
        var(--soft-raisin-black)
      )
      padding-box,
    linear-gradient(to right, var(--terciario), var(--cuaternario)) border-box;
  border-radius: 1rem;
  border: 2px solid transparent;
  /* background-color: var(--soft-raisin-black); */
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(var(--raisin-black), var(--raisin-black))
      padding-box,
    linear-gradient(
        -40deg,
        var(--cuaternario) 25%,
        var(--terciario) 50%,
        var(--secundario) 75%,
        var(--primario) 100%
      )
      border-box;
  /*  */

  /* background: linear-gradient(-40deg, #4378bf 18%,#3689ce 48%,#428fd0 59%,#8fb3da 100%); */

  /*  */

  border-radius: 1rem;
  border: 2px solid transparent;
}

.skills h2 {
  /* border: red solid 1px; */
  text-align: center;
  font-size: 2.5rem;
}

.skillsg1 {
  /* border: solid 1px firebrick; */
  color: var(--primario);
  width: 45%;
}
.skillsg2 {
  /* border: solid 1px firebrick; */
  width: 45%;
}

.skill-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 5rem;
  margin: 2rem 0rem;
  border: solid red 2px;
  /* height: 4rem; */
  /* border: red solid 1px; */
}

.skill-normal {
  color: var(--primario);
}

.skill-proceso,
#punto1,
#punto2,
#punto3 {
  margin: auto 0.5rem;
  color: var(--cuaternario);
  font-family: "Press Start 2P";
}

.skillsg1 .skill {
  background: linear-gradient(var(--raisin-black), var(--raisin-black))
      padding-box,
    linear-gradient(
        to right,
        var(--primario),
        var(--secundario),
        var(--terciario)
      )
      border-box;
  border: 2px solid transparent;
  border-left: none;
  border-right: none;
}
.skillsg2 .skill {
  background: linear-gradient(var(--raisin-black), var(--raisin-black))
      padding-box,
    linear-gradient(
        to right,
        var(--terciario),
        var(--cuaternario),
        var(--terciario)
      )
      border-box;
  border: 2px solid transparent;
  border-left: none;
  border-right: none;
}

.skill {
  color: var(--air-superiority-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem;

  /* border-top: var(--primario) 1px solid; */
  /* border-bottom: var(--primario) 1px solid; */
  /* border-bottom: fuchsia 1px solid; */
  /* border: fuchsia 1px solid; */
}

.skill h2 {
  width: 10rem;
  font-size: 1.7rem;
  text-align: center;
  vertical-align: middle;
  color: var(--mint-cream);
}

.logo {
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  /* border: red solid 2px; */
}

.html {
  /* border: red solid 2px; */
  background-image: url("../Logos/html4.webp");
}

.css {
  background-image: url("../Logos/css32.png");
}

.js {
  background-image: url("../Logos/javascript.png");
}

.react {
  /* background-image: url("../Logos/react.jpg"); */
  background-image: url("../Logos/react-removebg-preview.png");
}

.logo-pareja {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: linear-gradient(0.25turn, var(--raisin-black), #ebf8e1, var(--raisin-black)); */
}

.logos2 {
  width: 45%;
  height: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.git {
  background-image: url("../Logos/git\ solo1.png");
}

.github {
  background-image: url("../Logos/github\ solo.png");
}

.java {
  background-image: url("../Logos/java.png");
}

.mysql {
  background-image: url("../Logos/MySQL_Dolphin.jpg");
}
