:root {
  --raisin-black: #1b1e25ff;
  --soft-raisin-black: rgb(59, 65, 80);
  --engineering-orange: #b80c09ff;
  /* --colore: firebrick; */
  --amber: #ffbd00ff;
  --mint-cream: #f7fff7ff;
  --air-superiority-blue: #6ca6c1ff;
  /* rgb(11, 225, 64) */

  /* Colores matrix */
  --verdeOscuro: #003b00;
  --verde: #008f11;
  --verdeClaro: #00ff41;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--mint-cream);
  background-color: var(--raisin-black);
  /* background: linear-gradient(var(--mint-cream), var(--raisin-black)); */
  /* background: linear-gradient(
    to right,
    #000,
    #111,
    #222,
    #333,
    #444,
    #555,
    #666,
    #777,
    #888,
    #999,
    #fff
  ); */
}

h1 {
  font-size: 2rem;
}

.nave {
  width: 100%;
  /* position: fixed; */
  /* top: 0; */
}

.nave ul {
  display: flex;
  justify-content: space-between;
}

.nave a {
  color: var(--amber);
}

.nave div {
  height: 3rem;
  width: 19vw;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--raisin-black);
}

.nave div:hover {
  color: var(--raisin-black);
  background-color: var(--amber);
}

.caja-prin {
  margin: 1rem;
}

.hero {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../Logos/DD3.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient( to bottom right, var(--air-superiority-blue), var(--raisin-black), var(--engineering-orange)); */
  /* border: rgb(37, 27, 168) solid 2px; */
}

.desc {
  margin: 1rem 0rem;
  /* border: solid var(--amber) 2px; */
}

.descripcion {
  margin: auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-justify: auto;
  width: 70%;
  line-height: 4rem;
  /* border-radius: 2rem; */
  color: var(--mint-cream);

  background: linear-gradient(
        var(--soft-raisin-black),
        var(--soft-raisin-black)
      )
      padding-box,
    linear-gradient(to right, var(--amber), var(--verdeClaro)) border-box;
  border-radius: 1rem;
  border: 2px solid transparent;
  background-color: var(--soft-raisin-black);
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.skills h2 {
  /* border: red solid 1px; */
  text-align: center;
  font-size: 3rem;
}

.skillsg1 {
  /* border: solid 1px firebrick; */
  color: var(--amber);
  width: 45%;
}
.skillsg2 {
  /* border: solid 1px firebrick; */
  width: 45%;
}

.skill-tit {
  display: flex;
  justify-content: center;
  text-align: center;
  /* height: 4rem; */
  /* border: red solid 1px; */
}

.skill-normal {
  color: var(--amber);
}

.skill-proceso {
  color: var(--raisin-black);
}

h2 {
  /* border: var(--amber) solid 1px; */
}

.skillsg1 .skill {
  border-top: var(--amber) 1px solid;
  border-bottom: var(--amber) 1px solid;
}
.skillsg2 .skill {
  border-top: var(--verdeClaro) 1px solid;
  border-bottom: var(--verdeClaro) 1px solid;
}

.skill {
  color: var(--air-superiority-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0rem;

  /* border-top: var(--amber) 1px solid; */
  /* border-bottom: var(--amber) 1px solid; */
  /* border-bottom: fuchsia 1px solid; */
  /* border: fuchsia 1px solid; */
}

.skill h2 {
  width: 10rem;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  color: var(--mint-cream);
}

.logo {
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  /* border: red solid 2px; */
}

.html {
  /* border: red solid 2px; */
  background-image: url("../Logos/html4.webp");
}

.css {
  background-image: url("../Logos/css32.png");
}

.js {
  background-image: url("../Logos/javascript.png");
}

.react {
  /* background-image: url("../Logos/react.jpg"); */
  background-image: url("../Logos/react-removebg-preview.png");
}

.logo-pareja {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: linear-gradient(0.25turn, var(--raisin-black), #ebf8e1, var(--raisin-black)); */
}

.logos2 {
  width: 45%;
  height: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.git {
  background-image: url("../Logos/git\ solo1.png");
}

.github {
  background-image: url("../Logos/github\ solo.png");
}

.java {
  background-image: url("../Logos/java.png");
}

.mysql {
  background-image: url("../Logos/MySQL_Dolphin.jpg");
}
