:root {
  /* Genericos */
  --raisin-black: #1b1e25ff;
  --soft-raisin-black: rgb(59, 65, 80);
  /* --engineering-orange: #b80c09ff; */
  /* --amber: #ffbd00ff; */
  --mint-cream: #f7fff7ff;
  /* --air-superiority-blue: #6ca6c1ff; */
  /* Colores synth escogidos */
  --primario: #ffd319;
  --secundario: #ff901f;
  --terciario: #f222ff;
  --cuaternario: #ff2975;
  --quintinario: #8c1eff;
  --extra1: #5268c1;
  --extra2: #7592e5;
  --rosaLogo: #e010be;
  --amarilloLogo: #f8e71c;
}

.nave {
  background-color: var(--raisin-black);
  border-bottom: solid 2px var(--primario);
}

.nave a {
  color: var(--primario);
}

.nave a div {
  height: 4rem;
  width: 19vw;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--raisin-black);
}

.nave div:hover {
  color: var(--raisin-black);
  background-color: var(--primario);
}

.contenido {
  background-color: var(--mint-cream);
  background-color: var(--raisin-black);
  background: linear-gradient(var(--raisin-black), var(--raisin-black))
      padding-box,
    linear-gradient(
        to right,
        var(--primario),
        var(--secundario),
        var(--terciario)
      )
      border-box;
  border: 4px solid transparent;
  border-top: none;
}

.desc {
  border-radius: 50%;
}

.descripcion {
  margin: auto;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-justify: auto;
  width: 70%;
  line-height: 4rem;
  color: var(--mint-cream);

  background: linear-gradient(
        var(--soft-raisin-black),
        var(--soft-raisin-black)
      )
      padding-box,
    linear-gradient(to right, var(--terciario), var(--cuaternario)) border-box;
  border-radius: 1rem;
  border: 2px solid transparent;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  width: 100%;
  background-color: var(--raisin-black);
  border-radius: 1rem;
  border: 2px solid transparent;
}

.skills h2 {
  text-align: center;
  font-size: 2.5rem;
}

.skillsg1 {
  color: var(--primario);
  width: 45%;
}
.skillsg2 {
  width: 45%;
}

.skill-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 5rem;
  margin: 2rem 0rem;
}

.skill-normal {
  color: var(--primario);
}

.skill-proceso,
#punto1,
#punto2,
#punto3 {
  margin: auto 0.5rem;
  color: var(--cuaternario);
  font-family: "Press Start 2P";
}

.skillsg1 .skill {
  background: linear-gradient(var(--raisin-black), var(--raisin-black))
      padding-box,
    linear-gradient(
        to right,
        var(--primario),
        var(--secundario),
        var(--terciario)
      )
      border-box;
  border: 2px solid transparent;
  border-left: none;
  border-right: none;
}
.skillsg2 .skill {
  background: linear-gradient(var(--raisin-black), var(--raisin-black))
      padding-box,
    linear-gradient(
        to right,
        var(--terciario),
        var(--cuaternario),
        var(--terciario)
      )
      border-box;
  border: 2px solid transparent;
  border-left: none;
  border-right: none;
}

.skill {
  color: var(--air-superiority-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem;
}

.skill h2 {
  width: 10rem;
  font-size: 1.7rem;
  text-align: center;
  vertical-align: middle;
  color: var(--mint-cream);
}

.logo {
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
}

.html {
  background-image: url("../Logos/html4.webp");
}

.css {
  background-image: url("../Logos/css32.png");
}

.js {
  background-image: url("../Logos/javascript.png");
}

.react {
  background-image: url("../Logos/react-removebg-preview.png");
}

.logo-pareja {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos2 {
  width: 45%;
  height: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.git {
  background-image: url("../Logos/git\ solo1.png");
}

.github {
  background-image: url("../Logos/github\ solo.png");
}

.java {
  background-image: url("../Logos/java.png");
}

.mysql {
  background-image: url("../Logos/MySQL_Dolphin.jpg");
}
